article.project {
    padding-top: 60px;
    @media screen and (max-width:640px) {
        // padding-top: 0px;

    }
    .info-banner {
        width: 100%;
        padding: 20px 50px;
        box-sizing: border-box;
        @media screen and (max-width: 640px) {
            padding: 16px 20px;
    
        }
        .row {
            width: 100%;
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
            @media screen and (max-width: 640px) {
                align-items: flex-start;

        
            }
            .title {
                width: 50%;
                h1 {
                    margin-top: 0px;
                    font-weight: 500;

                }
            }
            .details {
                width: 50%;
                display: flex;
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
                @media screen and (max-width: 640px) {
                    flex-direction: column;
                    align-items: flex-start;        
                }
                .detail {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    justify-content: center;
                    @media screen and (max-width: 640px) {
                        margin-bottom: 16px;
                    }
                    .detail-title {
                        margin-bottom: 6px;
                    } 
                }
            }
            * {
                color: #212322;
                line-height: 1.4;
                font: {
                    size: 12px;
                }
            }
            @media screen and (max-width:1024px) {
                .title {
                    width: 30%;
                }
                .details {
                    width: 70%;
                }

    
            }
            @media screen and (max-width: 640px) {
                .title {
                    width: 50%;
                }
                .details {
                    width: 50%;
                }

    
            }
        }
    }
    .project-gallery {
        padding: 0 200px;
        padding-top: 0px;
        @media screen and (max-width:1000px) {
            padding: 0 100px;
            padding-top: 0px;
        }
        @media screen and (max-width:640px) {
            padding: 0 20px;
            padding-top: 0px;
        }
        .two-column {
            .row {
                max-width: 1200px;
                margin: auto;
                margin-top: 40px;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                column-gap: 44px;
                @media screen and (max-height: 800px) { 
                    justify-content: center;

                }

                @media screen and (max-width:640px) {
                    flex-direction: column;
                    margin: 0px;
                }
                
                img {
                    width: calc(50% - 22px);
                    max-height: calc(100vh - 60px);
                    height: 100%;
                    
                    
                    @media screen and (max-height: 800px) {
                        // width: auto;
                        // justify-content: center;
                        // min-height: calc(100vh - 60px);
                    }

                    @media screen and (min-width: 1400px) {
                        // width: auto;
                    }
                    @media screen and (max-width:640px) {
                        width: 100%;
                        height: 100%;
                        max-height: 100%;
                        margin-bottom: 20px;
                    }
                }
            }
        }
        .one-column {
            .row {
                max-width: 1200px;
                margin: auto;
                display: flex;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                margin-top: 40px;
                @media screen and (max-width:640px) {
                    flex-direction: column;
                    margin: 0px;
                }
                img {
                    width: 100%;
                    margin: auto;
                    max-height: calc(100vh - 60px);
                    // object-fit: cover;
                    @media screen and (min-width: 1600px) {
                        width: 100%;
                        object-fit: cover;
                        max-height: calc(100vh - 60px);
                    }
                    @media screen and (max-width:640px) {
                        width: 100%;
                        height: 100%;
                        max-height: 100%;
                        margin-bottom: 20px;
                    }
                    &.portrait {
                        width: auto;
                        height: 100%;
                        @media screen and (max-width:640px) {
                            height: auto;
                        }


                    }
                }
            }
        }
    }
    .projects-link {
        width: 100%;
        padding: 20px 50px;
        box-sizing: border-box;
        @media screen and (max-width: 640px) {
            padding: 16px 20px;
            padding-top: 0px;
            
        }
        a {
            font-size: 14px;
            text-decoration: underline;
            color: #212322;
        }
    }
}