$dark: #212322;
@import "../../node_modules/responsive-video-poster/src/styles/responsive-video-poster.scss";
@import 'views/about.scss';
@import 'views/home.scss';
@import 'views/services.scss';
@import 'views/contact.scss';
@import 'views/press.scss';
@import 'views/projects.scss';
@import 'views/project.scss';
@import 'components/header.scss';
@import 'components/footer.scss';
@import 'components/navigation.scss';
@font-face {
    font-family: "Avenir Book";
    src: url('../fonts/avenir-book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


body.admin-bar {
  header.banner {
    align-items: center;
    border-bottom: 1px solid #3d4e56;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    height: 60px;
    justify-content: space-between;
    left: 0;
    padding: 0 30px;
    position: fixed;
    top: 32px;
    width: 100%;
    z-index: 1;
}
}

html {
  margin-top: 0 !important;
}

a {
  text-decoration: none;
}

main {
  position: relative;
}


  p, span, ul, li, a, input, textarea, div {
    font: {
        family: "Avenir Book", sans-serif;
    }
  }

body.home {
  @media screen and (min-width:640px) {
      overflow: hidden;
      height: 100vh;

  }
}

img {
  width: 100%;
  max-width: 100%;
}